* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
  }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 5rem;
  }
  .container .steps {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #475569;
    font-size: 22px;
    font-weight: 200;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #ffffff;
    transition: all 200ms ease;
    transition-delay: 0s;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  }
  .steps .circle.active {
    transition-delay: 100ms;
    border-color: rgb(64, 112, 244);
    color: rgb(64, 112, 244);
  }
  .steps .progress-bar {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ffffff;
    z-index: -1;
  }
  .progress-bar .indicator {
    position: absolute;
    height: 100%;
    width: 0%;
    background: #4070f4;
    transition: all 300ms ease;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .buttons button {
    width: 40%;
    height: 55px;
    background: rgb(64, 112, 244);
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: all 200ms linear;
  }
  .buttons button:active {
    transform: scale(0.97);
  }
  .buttons button:disabled {
    background: rgb(64, 112, 244, 50%);
    cursor: not-allowed;
  }